<!DOCTYPE html>
<html>
  <head>
    <title>Currency converter</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>

  <body>
<div class="wrapper">
<div>
 <h1>Currency Converter</h1>
 <h2>Fixer.io</h2>
</div>

<div>Convert:
<input type="number" id="ammountToConvert">
</div>

<div>
     <select id="fromMoney">
         <option value="USD">USD</option>
         <option value="AUD">AUD</option>
         <option value="BGN">BGN</option>
         <option value="BRL">BRL</option>
         <option value="CAD">CAD</option>
         <option value="CHF">CHF</option>
         <option value="CNY">CNY</option>
         <option value="DKK">DKK</option>
         <option value="EUR">EUR</option>
         <option value="GBP">GBP</option>
         <option value="HUF">HUF</option>
         <option value="INR">INR</option>
         <option value="IDR">IDR</option>
         <option value="JPY">JPY</option>
         <option value="RON">RON</option>
         <option value="SEK">SEK</option>
         <option value="SGD">SGD</option>
     </select>
   Into
     <select id="toMoney">
         <option value="AUD">AUD</option>
         <option value="BGN">BGN</option>
         <option value="BRL">BRL</option>
         <option value="CAD">CAD</option>
         <option value="CHF">CHF</option>
         <option value="CNY">CNY</option>
         <option value="DKK">DKK</option>
         <option value="EUR">EUR</option>
         <option value="GBP">GBP</option>
         <option value="HUF">HUF</option>
         <option value="INR">INR</option>
         <option value="IDR">IDR</option>
         <option value="JPY">JPY</option>
         <option value="RON">RON</option>
         <option value="SEK">SEK</option>
         <option value="SGD">SGD</option>
         <option value="USD">USD</option>
     </select>
</div>

 <div id="btn">Convert</div>
 <div id="amt"></div>
 <div id="footer"></div>
 <div id="fixer"></div>

     </div>
 </body>
</html>
