<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="keywords" content="Bekah Shaffer, home" />
      <meta name="description" content="Bekah Shaffer's personal website" />
      <link rel="stylesheet" type="text/css" href="style2.css">
      <link href='https://fonts.googleapis.com/css?family=Raleway:400' rel='stylesheet' type='text/css'>
      <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet" type='text/css'>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
      
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/styles.css'>
    <script src="js/script.js"></script>


  </head>

  <body>
    <div class="container">

      #parse( $template )

    </div>
  </body>
</html>
